.container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.home_activity_description {
    margin: 2rem auto;
}

.home_activity_description img {
    width: 100%;
    height: auto;
}

.description {
    margin: 2rem auto;
}

.description h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.description p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #558A78;
    margin: 1rem 0;
}

.activity_location {
    margin: 2rem auto;
    width: 45%;
    float: left;
}

.activity_location h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.activity_location p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.activity_location i {
    margin-right: 1rem;
}

.activity_location iframe {
    width: 100%;
    height: 30rem;
}

.activity_reviews {
    margin: 2rem auto;
    width: 50%;
    height: 100%;
    float: right;
}

.activity_reviews h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.stars {
    margin: 1rem auto;
    width: 100%;
}

.reviews {
    width: 100%;
    height: 30rem;
    overflow-y: scroll;
}

.review {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #ccc;
    width: 100%;
    height: 33.33%;
}