.activity_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    position: relative;
}

.activity_container_box {
    display: flex;
    width: 50rem;
    border: 0.0625rem solid black;
    margin: 0.625rem; /* Separación entre las cajas */
    padding: 0.3125rem; /* Separación entre el borde y el contenido */
    align-items: center;
}

.activity_container_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity_container_image img {
    height: 10rem; /* Se establece la altura en 7rem para la imagen */
    width: 10rem; /* Se establece el ancho en 7rem para la imagen */
}

.activity_container_content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between; /* Se agrega para centrar verticalmente */
    height: 10rem;
    padding-left: 0.3125rem;
    flex-grow: 1; /* Se agrega para que se extienda hacia la derecha */
    margin: 0 auto;
}

.activity_container_content h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0.3125rem 0;
}

.activity_container_content p {
    font-size: 1.3rem;
    margin: 0.3125rem 0;
}

.five_stars i {
    font-size: 1rem; /* Cambiar el tamaño de fuente según sea necesario */
}

.activity_container_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity_container_price {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 0.9rem; /* Se establece line-height en el mismo valor que la altura de la fuente para eliminar el espacio adicional alrededor del texto */
}