/* hacer el destinity carrousel más pequeño
.destinies_caroussel {
    transform: scale(0.5);
}
*/

.activities_container{
    display: flex;
    height: fit-content;
    gap: 3rem;
    padding: 2rem;
    justify-content: center;
    background-color: #b9cbc5;
}

@media (max-width: 750px), (orientation: portrait) {
    .activities_container_filtros {
        position: absolute;
        left: 0;
        z-index: 10000;
    }
}