.destinies_caroussel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;
}

.destinies_caroussel .destinies_caroussel_title {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    margin-top: 2.75rem;
}

.destinies_caroussel_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    margin-top: 2rem;
}

.destinies_caroussel_item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 20rem;
}

.destinies_caroussel_item img {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
}

.destinies_caroussel_item .destinies_caroussel_item_info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 1.5rem;
    color: #fff;
}

.destinies_caroussel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.destinies_caroussel_button button {
    background-color: #558A78;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 1px solid #558A78;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.destinies_caroussel_button button:hover {
    background-color: #fff;
    color: #558A78;
    border: 1px solid #558A78;
}