<div class="activity_container">
  <div class="activity_container_box">
    <div class="activity_container_image">
      <img src="https://via.placeholder.com/150x150" alt="Actividad 1">
    </div>
    <div class="activity_container_content">
      <div class="activity_container_top">
        <h3>Actividad 1</h3>
        <p>Descripción de la actividad 1</p>
      </div>
      <div class="activity_container_bottom">
        <div class="five_stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </div>
        <span class="activity_container_price">Precio: Gratis</span>
      </div>
    </div>
  </div>

  <div class="activity_container_box">
    <div class="activity_container_image">
      <img src="https://via.placeholder.com/150x150" alt="Actividad 1">
    </div>
    <div class="activity_container_content">
      <div class="activity_container_top">
        <h3>Actividad 2</h3>
        <p>Descripción de la actividad 2</p>
      </div>
      <div class="activity_container_bottom">
        <div class="five_stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </div>
        <span class="activity_container_price">Precio: 11€</span>
      </div>
    </div>
  </div>

  <div class="activity_container_box">
    <div class="activity_container_image">
      <img src="https://via.placeholder.com/150x150" alt="Actividad 1">
    </div>
    <div class="activity_container_content">
      <div class="activity_container_top">
        <h3>Actividad 3</h3>
        <p>Descripción de la actividad 3</p>
      </div>
      <div class="activity_container_bottom">
        <div class="five_stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </div>
        <span class="activity_container_price">Precio: 17€</span>
      </div>
    </div>
  </div>

  <div class="activity_container_box">
    <div class="activity_container_image">
      <img src="https://via.placeholder.com/150x150" alt="Actividad 1">
    </div>
    <div class="activity_container_content">
      <div class="activity_container_top">
        <h3>Actividad 4</h3>
        <p>Descripción de la actividad 4</p>
      </div>
      <div class="activity_container_bottom">
        <div class="five_stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star"></i>
        </div>
        <span class="activity_container_price">Precio: 21€</span>
      </div>
    </div>
  </div>

  <div class="activity_container_box">
    <div class="activity_container_image">
      <img src="https://via.placeholder.com/150x150" alt="Actividad 1">
    </div>
    <div class="activity_container_content">
      <div class="activity_container_top">
        <h3>Actividad 5</h3>
        <p>Descripción de la actividad 5</p>
      </div>
      <div class="activity_container_bottom">
        <div class="five_stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </div>
        <span class="activity_container_price">Precio: 32€</span>
      </div>
    </div>
  </div>
</div>