<div class="activity_container">
  <!--

  AHORA TODO SE HACE DE FORMA DINÁMICA EN activitiesList.js

  <div id="activity_search_fail">
    <h2> No se han encontrado actividades para los</h2>
    <h2>parámetros de busqueda seleccionados.. </h2>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <h3> Pruebe con otra búsqueda :)</h3>
  </div>
  -->
  <!--
  <div class="activity_container_box">
    <div class="activity_container_image">
      <img src="https://via.placeholder.com/150x150" alt="Actividad 1">
    </div>
    <div class="activity_container_content">
      <div class="activity_container_top">
        <h3>Actividad 1</h3>
        <div id="max_activity_description_height">
          <p>Descripción de la actividad 1
          </br>asdfadsfadsfasdf
            </br>asdfadsf22adsfasdf
            </br>32312
            </br>asdfadsfadsfasdf
          </p>
        </div>
      </div>
      <div class="activity_container_bottom">
        <div class="five_stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </div>
        <span class="activity_container_price">Precio: Gratis</span>
      </div>
    </div>
  </div>
-->


</div>