<h3 class="carousel_title" id="carousel_title_peninsula"></h3>
<div class="slick_list" id="slick_list_peninsula">
    <button class="slick_arrow slick_prev" id="button_prev_peninsula"><i class="bi bi-chevron-left"></i></button>
    <div class="slick_track" id="track_peninsula">
    </div>
    <button class="slick_arrow slick_next" id="button_next_peninsula"><i class="bi bi-chevron-right"></i></button>
</div>
<h3 class="carousel_title" id="carousel_title_canarias"></h3>
<div class="slick_list" id="slick_list_canarias">
    <button class="slick_arrow slick_prev" id="button_prev_canarias"><i class="bi bi-chevron-left"></i></button>
    <div class="slick_track" id="track_canarias">
    </div>
    <button class="slick_arrow slick_next" id="button_next_canarias"><i class="bi bi-chevron-right"></i></button>
</div>
<h3 class="carousel_title" id="carousel_title_baleares"></h3>
<div class="slick_list" id="slick_list_baleares">
    <button class="slick_arrow slick_prev" id="button_prev_baleares"><i class="bi bi-chevron-left"></i></button>
    <div class="slick_track" id="track_baleares">
    </div>
    <button class="slick_arrow slick_next" id="button_next_baleares"><i class="bi bi-chevron-right"></i></button>
</div>