<h2 class="destinies_caroussel_title">Destinos destacados</h2>
<div class="destinies_caroussel_items">
    <div class="destinies_caroussel_item">
        <img src="https://www.spain.info/export/sites/segtur/.content/imagenes/cabeceras-grandes/andalucia/malaga-52886652-istock.jpg"
            alt="image">
        <div class="destinies_caroussel_item_info">
            <h3>Málaga</h3>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
        </div>
    </div>
    <div class="destinies_caroussel_item">
        <img src="https://www.flytap.com/-/media/Flytap/new-tap-pages/destinations/europe/spain/gran-canaria/destinations-gran-canaria-banner-mobile-1024x553.jpg"
            alt="image">
        <div class="destinies_caroussel_item_info">
            <h3>Gran Canaria</h3>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
        </div>
    </div>
    <div class="destinies_caroussel_item">
        <img src="https://a.cdn-hotels.com/gdcs/production88/d1205/9bd85b85-3eb0-45b3-8f13-35ab0355dff0.jpg?impolicy=fcrop&w=800&h=533&q=medium"
            alt="image">
        <div class="destinies_caroussel_item_info">
            <h3>Mallorca</h3>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
        </div>
    </div>
</div>
<div class="destinies_caroussel_button">
    <button id="destinies_button">Ver más destinos</button>
</div>