<div id="header_components">

  <div id="menu_deplegable">
    <input type="checkbox" id="menu_toggle" onchange="display_menu()">
    <label for="menu_toggle" id="menu_toggle_label" class="bi bi-list"></label>
  </div>

  <div class="recuadroLogo">
    <a href="../index.html"><img src="../images/logo.png" alt="Logo"></a>
  </div>

  <nav>
    <input type="checkbox" id="close_menu_toggle" onchange="close_menu()">
    <label for="close_menu_toggle" id="close_menu_toggle_label" class="bi bi-x-lg"></label>
    <ul>
      <li><a href="#">DESTINOS</a></li>
      <li><a href="../activities.html">ACTIVIDADES</a></li>
      <li><a href="../aboutUs.html">SOBRE NOSOTROS</a></li>
    </ul>
  </nav>

  <div id="header_subOptions">
    <div class="circle_icon">
      <i class="bi bi-globe2">
        <div class="dropdown_content">
          <a href="#">Español</a>
          <a href="#">English</a>
          <a href="#">Français</a>
        </div>
      </i>
    </div>
    <div class="circle_icon">
      <i class="bi bi-person">
        <div class="dropdown_content">
          <a href="#">Perfil</a>
          <a href="../myActivityList.html">Mis actividades</a>
          <a href="#">Configuración</a>
          <a href="#">Cerrar sesión</a>
        </div>
      </i>
    </div>
  </div>

</div>
