<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/register.css">
</head>
<body>
<div class="container">
    <h2>Crear cuenta</h2>
    <form>
        <div class="first_row" id="first_row">
            <div class="field" id="name">
                <label>Nombre<br></label>
                <input class="text" type="text" placeholder="Introduzca un nombre">
            </div>
            <div class="field" id="surname">
                <label>Apellido<br></label>
                <input class="text" type="text" placeholder="Introduzca un apellido">
            </div>
        </div>
        <div class="field" id="email">
            <label>E-mail<br></label>
            <input class="text" type="email" placeholder="Introduzca su email">
        </div>
        <div class="field", id="password">
            <label>Contraseña<br></label>
            <input class="text" type="password" placeholder="Introduzca una contraseña">
        </div>
        <div class="field" id="repeat_password">
            <label>Repetir contraseña<br></label>
            <input class="text" type="password" placeholder="Repita su contraseña">
        </div>
        <div class="field" id="register">
            <input class="register" type="submit" value="registrarse">
        </div>
    </form>
</body>
</html>